<h2></h2>

<p class="card-text row align-items-center justify-content-center"><% if @business.first_name %><%= @business.first_name %></p>
<p class="card-text row align-items-center justify-content-center"><% if @business.last_name %><%= @business.last_name %></p>
<p class="card-text row align-items-center justify-content-center"><% if @business.nick_name %><%= @business.nick_name %></p>
<p class="card-text row align-items-center justify-content-center"><% if @business.work_email %><%= @business.work_email %></p>
<p class="card-text row align-items-center justify-content-center"><% if @business.work_phone %><%= @business.work_phone %></p>
<p class="card-text row align-items-center justify-content-center"><% if @business.occupation %><%= @business.occupation %></p>
<p class="card-text row align-items-center justify-content-center"><% if @business.photo %><%= @business.photo %></p>
<p class="card-text row align-items-center justify-content-center"><% if @business.linked_in %><%= @business.linked_in %></p>
<p class="card-text row align-items-center justify-content-center"><% if @business.company %><%= @business.company %></p>
<p class="card-text row align-items-center justify-content-center"><% if @business.job_title %><%= @business.job_title %></p>
