<h2></h2>

<p class="card-text row align-items-center justify-content-center"><% if @business.first_name %>First name: <%= @business.first_name %></p><% end %>
<p class="card-text row align-items-center justify-content-center"><% if @business.last_name %>Last name: <%= @business.last_name %></p><% end %>
<p class="card-text row align-items-center justify-content-center"><% if @business.work_email %>Work email: <%= @business.work_email %></p><% end %>
<p class="card-text row align-items-center justify-content-center"><% if @business.work_phone %>Work phone: <%= @business.work_phone %></p><% end %>
<p class="card-text row align-items-center justify-content-center"><% if @business.occupation %>Occupation: <%= @business.occupation %></p><% end %>
<p class="card-text row align-items-center justify-content-center"><% if @business.photo %><%= @business.photo %></p> <% end %>
<p class="card-text row align-items-center justify-content-center"><% if @business.linked_in %>Linked In: <%= @business.linked_in %></p><% end %>
<p class="card-text row align-items-center justify-content-center"><% if @business.company %>Company: <%= @business.company %></p><% end %>
<p class="card-text row align-items-center justify-content-center"><% if @business.job_title %>Job title: <%= @business.job_title %></p><% end %>


  <% if current_user  %>
  <div class="row align-items-center justify-content-center py-3">
<%= link_to 'Add to wallet', transactions_path(@business), method: :post, class: 'btn btn-danger' %>
<% else %>
  <%= link_to 'Make an account!', new_user_registration_path, method: :post, class: 'btn btn-danger' %>
  </div>
  <% end %>
