<div class="container pt-3">

 <% if current_user && current_user.wallet && @business.user != current_user && [Transaction.where(sender_id: current_user.wallet.id, receiver_id: @business.user.wallet.id, kind: "business"), Transaction.where(receiver_id: current_user.wallet.id, sender_id: @business.user.wallet.id, kind: "business")].flatten.empty? %>
 <div class="row align-items-center justify-content-center py-1">
  <h5>Here is the business information for your new friend!  Save it to your wallet!
  <div class="row align-items-center justify-content-center py-3">
<%= link_to 'Add to wallet', transactions_path(@business), method: :post, class: 'btn btn-danger' %>
  </div>
<% elsif !current_user%>
<div class="row align-items-center justify-content-center py-1">
  <h5>Here is the business information for your new friend!  Make a free account so you can save their information for later use!</h5>
  </div>
<div class="row align-items-center justify-content-center py-3">
  <%= link_to 'Make an account!', new_user_registration_path, method: :get, class: 'btn btn-danger' %>
  </div>
  <% end %>


<div class="container-small">

<p class="card-text row align-items-center justify-content-center pt-2">
<% if @business.photo? %><%= cl_image_tag @business.photo, height: 135, width: 180, crop: :fill, class: "img-raised rounded-circle img-fluid show-photos" %>
</p>
<% end %>
<% if %>

<p class="card-text row align-items-center justify-content-center align-items-center" >
<% if @business.first_name? && @business.last_name? %>
<strong><%= @business.first_name %> <%= @business.last_name %></strong>
</p>
<% end %>
<% else %>
 </div>
</div>


<p class="card-text row align-items-center justify-content-center align-items-center" >
<% if @business.first_name? %>
First name: <%= @business.first_name %><%= @business.last_name %>
</p>
<% end %>


<p class="card-text row align-items-center justify-content-center align-items-center" >
<% if @business.last_name? %>
Last name: <%= @business.last_name %>
</p>
<% end %>
<% end %>


<p class="card-text row align-items-center justify-content-center align-items-center" >
<% if @business.work_email? %>
Work email: <%= @business.work_email %>
</p>
<% end %>

<p class="card-text row align-items-center justify-content-center align-items-center" >
<% if @business.work_phone? %>
Work phone: <%= @business.work_phone %>
</p>
<% end %>


<div class="d-flex justify-content-center">
  <div class="d-flex justify-content-between" style="width: 80%;">
<p class="card-text row align-items-center justify-content-center align-items-center" >
<% if @business.occupation? %>
</p>
Occupation: <%= @business.occupation %>
<% end %>
 </div>
</div>

<div class="d-flex justify-content-center">
  <div class="d-flex justify-content-between" style="width: 80%;">
<p class="card-text row align-items-center justify-content-center align-items-center" >
<% if @business.linked_in? %>
<strong>Linked In: &nbsp;</strong><%= @business.linked_in %>
</p>
<%= link_to_image( 'linkedin.png', "http://www.linkedin.com/in/#{@business.linked_in}", class: "logos")%>
<% end %>
 </div>
</div>

<div class="d-flex justify-content-center">
  <div class="d-flex justify-content-between" style="width: 80%;">
<p class="card-text row align-items-center justify-content-center align-items-center" >
<% if @business.company? %>
</p>
Company: <%= @business.company %>
<% end %>
 </div>
</div>

<div class="d-flex justify-content-center">
  <div class="d-flex justify-content-between" style="width: 80%;">
<p class="card-text row align-items-center justify-content-center align-items-center" >
<% if @business.job_title? %>
</p>
Job title: <%= @business.job_title %>
<% end %>
 </div>
</div>
</div>
</div>
