<div class="business-wallet-card">
  <img src=<%= business.photo %>>  
  <div class="card-product-infos">
    <h2><%= business.first_name %> <%= business.last_name %></h2>
    <p><%= business.occupation %> <strong> <%= business.company %></strong> <%= business.job_title %></p>
    <p>You met each other on <strong> <%= business.transaction_time %></strong></p>
    <p><%= link_to 'See this business contact', business_path(business.id)  %></p>
    <%= link_to 'Delete from wallet', transaction_path(business.user.transactions.find { |tr| tr.sender_id == business.user.wallet.id || tr.receiver_id == business.user.wallet.id }), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger' %>
  </div>
</div>
