<h2>Warning on top.  Place all in proper site format</h2>
<%= simple_form_for @personal do |f|%>
<%= f.input :first_name %>
<%= f.input :last_name %>
<%= f.input :nick_name %>
<%= f.input :email %>
<%= f.input :phone %>
<%= f.input :occupation %>
<%= f.input :photo %>
<%= f.input :facebook, placeholder: "Facebook.com/" %>
<%= f.input :snapchat  %>
<%= f.input :instagram %>
<%= f.input :linked_in, placeholder: "Linkedin.com/" %>
<%= f.input :twitter %>
<%= f.input :pinterest %>
<%= f.input :whatsapp, label: "What's App" %>
<%= f.input :skype %>
<%= f.input :line %>
<%= f.input :youtube %>
<%= f.input :tumblr %>
<%= f.input :soundcloud %>
<%= f.input :vk %>
<%= f.input :wechat %>
<%= f.input :github %>
<%= f.input :tiktok %>
<%= f.input :vine %>
<%= f.button :submit, 'Submit', class: 'btn btn-primary'%>
<% end %>
