<div class="container-small">
<div class="row align-items-center justify-content-center">

<h2>Warning on top.  Place all in proper site format</h2>
</div>

<div class="row align-items-center justify-content-center">
<%= simple_form_for @personal do |f|%>
<%= f.input :first_name %>
<%= f.input :last_name %>
<%= f.input :nick_name %>
<%= f.input :email %>
<%= f.input :phone %>
<%= f.input :occupation %>
<%= f.input :photo %>
<%= f.input :photo_cache, as: :hidden %>
<%= f.input :facebook, label: "Facebook Username", placeholder: "Facebook.com/" %>
<%= f.input :snapchat, label: "Snapchat Username"  %>
<%= f.input :instagram, label: "Instagram Username" %>
<%= f.input :linked_in, label: "Linked In Username", placeholder: "Linkedin.com/" %>
<%= f.input :twitter, label: "Twitter Username" %>
<%= f.input :pinterest, label: "Pinterest Username" %>
<%= f.input :whatsapp, label: "What's App Number if different than phone number" %>
<%= f.input :skype, label: "Skype Username" %>
<%= f.input :website, label: "Your full website URL" %>
<%= f.input :line, label: "Line Username" %>
<%= f.input :youtube, label: "Youtube Channel URL" %>
<%= f.input :tumblr, label: "Tumblr Username" %>
<%= f.input :soundcloud, label: "Soundcloud Username" %>
<%= f.input :vk, label: "VK Username" %>
<%= f.input :wechat, label: "Wechat Username" %>
<%= f.input :github, label: "Github Username" %>
<%= f.input :tiktok, label: "Tiktok Username" %>
<%= f.input :vine, label: "Vine Username" %>
<div style="text-align:center">
<%= f.button :submit, 'Submit', class: 'btn btn-danger'%>
</div>
<% end %>
</div>
</div>
