<div class="container pt-3">

<% if current_user && current_user.wallet && @personal.user != current_user && [Transaction.where(sender_id: current_user.wallet.id, receiver_id: @personal.user.wallet.id, kind: "personal"), Transaction.where(receiver_id: current_user.wallet.id, sender_id: @personal.user.wallet.id, kind: "personal")].flatten.empty? %>
  <div class="row align-items-center justify-content-center py-3">
  <%= link_to 'Add to wallet', transactions_path(@personal), method: :post, class: 'btn btn-danger' %>
  </div>
  <% elsif !current_user %>
  <div class="row align-items-center justify-content-center py-1">
  <h4>Here is the information for your new friend!  Make a free account so you can save this information for later use!</h4>
  </div>
  <div class="row align-items-center justify-content-center py-3">
  <%= link_to 'Make an account!', new_user_registration_path, method: :post, class: 'btn btn-danger' %>
  </div>
<% end %>


<div class="container-small">
<p class="card-text row align-items-center justify-content-center pt-2">
<% if @personal.photo? %><%= cl_image_tag @personal.photo, height: 150, width: 180, crop: :fill, class: "img-raised rounded-circle img-fluid show-photos" %></p>
<% end %>
<% if %>
<p class="card-text row align-items-center justify-content-center">
<% if @personal.first_name? && @personal.last_name? %><strong><%= @personal.first_name %> <%= @personal.last_name %></strong></p>
<%# end %>
<% else %>
<p class="card-text row align-items-center justify-content-center">
<% if @personal.first_name? %><strong>First name: </strong><%= @personal.first_name %><%= @personal.last_name %></p>
<% end %>
<p class="card-text row align-items-center justify-content-center">
<% if @personal.last_name? %><strong>Last name: </strong><%= @personal.last_name %></p>
<% end %>
<% end %>
<p class="card-text row align-items-center justify-content-center">
<% if @personal.nick_name? %><strong>Nick name: &nbsp;</strong> <%= @personal.nick_name %></p>
<% end %>
<p class="card-text row align-items-center justify-content-center">
<% if @personal.occupation? %><strong>Occupation: &nbsp;</strong><%= @personal.occupation %></p>
<% end %>

<div class="d-flex justify-content-center">
  <div class="d-flex justify-content-between" style="width: 80%;">
<p class="card-text row align-items-center justify-content-center align-items-center">
<% if @personal.email? %><strong>Email: &nbsp;</strong><a href="<%= "https://#{@personal.email}" %>"><%= @personal.email %></a>
</p>

<%= mail_to @personal.email do %>
  <%= image_tag 'gmail.png', alt: 'email', class: "logos" %>
<% end %>
<% end %>
</div>
</div>

<div class="d-flex justify-content-center">
  <div class="d-flex justify-content-between" style="width: 80%;">
<p class="card-text row align-items-center justify-content-center align-items-center">
<% if @personal.phone? %><strong>Phone: &nbsp;</strong><%= @personal.phone %></p>
</p>
<%= link_to_image('phoned.png', "tel:#{@personal.phone}", class: "logos") %>
<% end %>
</div>
</div>

<div class="d-flex justify-content-center">
  <div class="d-flex justify-content-between" style="width: 80%;">
    <p class="card-text row align-items-center justify-content-center align-items-center" >
      <% if @personal.facebook? %>
        <strong>Facebook: &nbsp;</strong><%= @personal.facebook %>
    </p>
    <%= link_to_image('FB.svg', "https://www.facebook.com/#{@personal.facebook}", class: "logos") %>
      <% end %>
  </div>
</div>

<div class="d-flex justify-content-center">
  <div class="d-flex justify-content-between" style="width: 80%;">
  <p class="card-text row align-items-center justify-content-center align-items-center" >
  <% if @personal.instagram? %>
    <strong>Instagram: &nbsp;</strong><%= @personal.instagram %>
    </p>
    <%= link_to_image('instagram.svg', "https://www.instagram.com/#{@personal.instagram}", class: "logos")%>
    <% end %>
    </div>
</div>

<div class="d-flex justify-content-center">
  <div class="d-flex justify-content-between" style="width: 80%;">
  <p class="card-text row align-items-center justify-content-center align-items-center" >
  <% if @personal.twitter? %>
    <strong>Twitter: &nbsp;</strong><%= @personal.twitter %>
    </p>
    <%= link_to_image('twitter.png', "https://www.twitter.com/#{@personal.twitter}", class: "logos")%>
    <% end %>
    </div>
</div>

<div class="d-flex justify-content-center">
  <div class="d-flex justify-content-between" style="width: 80%;">
  <p class="card-text row align-items-center justify-content-center align-items-center" >
  <% if @personal.snapchat? %>
    <strong>Snapchat: &nbsp;</strong><%= @personal.snapchat %>
    </p>
<%= link_to_image('snapchat.png', "https://www.snapchat.com/add/#{@personal.snapchat}", class: "logos")%>
    <% end %>
    </div>
</div>

<div class="d-flex justify-content-center">
  <div class="d-flex justify-content-between" style="width: 80%;">
  <p class="card-text row align-items-center justify-content-center align-items-center" >
<% if @personal.linked_in? %>
<strong>Linked In: &nbsp;</strong><%= @personal.linked_in %>
    </p>
<%= link_to_image('linkedin.png', "https://www.linkedin.com/in/#{@personal.linked_in}", class: "logos")%><% end %>
<% end %>
    </div>
</div>

<div class="d-flex justify-content-center">
  <div class="d-flex justify-content-between" style="width: 80%;">
  <p class="card-text row align-items-center justify-content-center align-items-center" >
<% if @personal.pinterest? %>
<strong>Pinterest: &nbsp;</strong><%= @personal.pinterest %>
    </p>
<%= link_to_image('pinterest.png', "https://www.pinterest.com/#{@personal.pinterest}", class: "logos")%>
<% end %>
    </div>
</div>

<div class="d-flex justify-content-center">
  <div class="d-flex justify-content-between" style="width: 80%;">
  <p class="card-text row align-items-center justify-content-center align-items-center" >
<% if @personal.whatsapp? %>
<strong>Whats App: &nbsp;</strong><%= @personal.whatsapp %>
    </p>
    <%= link_to_image('whatsapp.png', "https://wa.me/#{@personal.whatsapp}", class: "logos")%>
<% end %>
    </div>
</div>

<div class="d-flex justify-content-center">
  <div class="d-flex justify-content-between" style="width: 80%;">
  <p class="card-text row align-items-center justify-content-center align-items-center" >
<% if @personal.skype? %>
<strong>Skype: &nbsp;</strong><%= @personal.skype %>
    </p>
    <%= link_to_image('skype.png', "skype:#{@personal.skype}?userinfo", class: "logos")%>
<% end %>
    </div>
</div>


<div class="d-flex justify-content-center">
  <div class="d-flex justify-content-between" style="width: 80%;">
<p class="card-text row align-items-center justify-content-center align-items-center" >
<% if @personal.website? %>
 <strong>Website: &nbsp;</strong><%= @personal.website %>
 </p>
<%= link_to_image('placeholder.jpeg', "https://#{@personal.website}", class: "logos")%>
<% end %>
  </div>
</div>

<div class="d-flex justify-content-center">
  <div class="d-flex justify-content-between" style="width: 80%;">
  <p class="card-text row align-items-center justify-content-center align-items-center" >
<% if @personal.line? %>
<strong>Line: &nbsp;</strong><%= @personal.line %>
    </p>
<%= link_to_image('line.jpeg', "line://ti/p/#{@personal.line}", class: "logos")%>
<% end %>
    </div>
</div>

<div class="d-flex justify-content-center">
  <div class="d-flex justify-content-between" style="width: 80%;">
  <p class="card-text row align-items-center justify-content-center align-items-center" >
<% if @personal.youtube? %>
<strong>Youtube Channel URL: &nbsp;</strong><%= @personal.youtube %>
</p>
<%= link_to_image('youtube.jpeg', "https://www.youtube.com/channel/#{@personal.youtube}", class: "logos")%>
<% end %>
    </div>
</div>

<div class="d-flex justify-content-center">
  <div class="d-flex justify-content-between" style="width: 80%;">
  <p class="card-text row align-items-center justify-content-center align-items-center" >
<% if @personal.tumblr? %>
<strong>Tumblr: &nbsp;</strong><%= @personal.tumblr %>
</p>
<%= link_to_image('tumblr.svg', "https://www.#{@personal.tumblr}.tumblr.com", class: "logos")%>
<% end %>
    </div>
</div>

<div class="d-flex justify-content-center">
  <div class="d-flex justify-content-between" style="width: 80%;">
  <p class="card-text row align-items-center justify-content-center align-items-center" >
<% if @personal.soundcloud? %>
<strong>Soundcloud: &nbsp;</strong><%= @personal.soundcloud %>
</p>
<%= link_to_image('soundcloud.png', "https://www.soundcloud.com/#{@personal.soundcloud}", class: "logos")%>
<% end %>
    </div>
</div>

<div class="d-flex justify-content-center">
  <div class="d-flex justify-content-between" style="width: 80%;">
  <p class="card-text row align-items-center justify-content-center align-items-center" >
<% if @personal.vk? %>
<strong>VK: &nbsp;</strong><%= @personal.vk %>
</p>
<%= link_to_image('vk.png', "https://www.vk.com/#{@personal.vk}", class: "logos")%>
<% end %>
    </div>
</div>

<div class="d-flex justify-content-center">
  <div class="d-flex justify-content-between" style="width: 80%;">
  <p class="card-text row align-items-center justify-content-center align-items-center" >
<% if @personal.wechat? %>
<strong>Wechat: &nbsp;</strong><%= @personal.wechat %>
</p>
<%= link_to_image('wechat.png', "weixin://dl/chat?#{@personal.wechat}", class: "logos")%>
<% end %>
    </div>
</div>


<div class="d-flex justify-content-center">
  <div class="d-flex justify-content-between" style="width: 80%;">
  <p class="card-text row align-items-center justify-content-center align-items-center" >
<% if @personal.github? %>
<strong>Github: &nbsp;</strong><%= @personal.github %>
</p>
<%= link_to_image('github.png', "https://www.github.com/#{@personal.github}", class: "logos")%>
<% end %>
    </div>
</div>

<div class="d-flex justify-content-center">
  <div class="d-flex justify-content-between" style="width: 80%;">
  <p class="card-text row align-items-center justify-content-center align-items-center" >
<% if @personal.tiktok? %>
<strong>Tiktok: &nbsp;</strong><%= @personal.tiktok %>
</p>
<%= link_to_image('tiktok.svg', "https://www.tiktok.com/@#{@personal.tiktok}", class: "logos")%>
<% end %>
    </div>
</div>

<div class="d-flex justify-content-center">
  <div class="d-flex justify-content-between" style="width: 80%;">
  <p class="card-text row align-items-center justify-content-center align-items-center" >
<% if @personal.vine? %>
<strong>Vine: &nbsp;</strong><%= @personal.vine %>
</p>
<%= link_to_image('vine.jpeg', "https://www.vine.co/#{@personal.vine}", class: "logos")%>
<% end %>
    </div>
</div>

      </div>
</div>


