<h2></h2>

<p class="card-text row align-items-center justify-content-center"><%# if @personal.first_name %><%= @personal.first_name %></p>
<p class="card-text row align-items-center justify-content-center"><%# if @personal.last_name %><%= @personal.last_name %></p>
<p class="card-text row align-items-center justify-content-center"><%# if @personal.nick_name %><%= @personal.nick_name %></p>
<p class="card-text row align-items-center justify-content-center"><%# if @personal.email %><%= @personal.email %></p>
<p class="card-text row align-items-center justify-content-center"><%# if @personal.phone %><%= @personal.phone %></p>
<p class="card-text row align-items-center justify-content-center"><%# if @personal.occupation %><%= @personal.occupation %></p>
<p class="card-text row align-items-center justify-content-center"><%# if @personal.photo %><%= @personal.photo %></p>
<p class="card-text row align-items-center justify-content-center"><%# if @personal.facebook %><%= @personal.facebook %></p>
<p class="card-text row align-items-center justify-content-center"><%# if @personal.snapchat %><%= @personal.snapchat %></p>
<p class="card-text row align-items-center justify-content-center"><%# if @personal.instagram %><%= @personal.instagram %></p>
<p class="card-text row align-items-center justify-content-center"><%# if @personal.linked_in %><%= @personal.linked_in %></p>
<p class="card-text row align-items-center justify-content-center"><%# if @personal.twitter %><%= @personal.twitter %></p>
<p class="card-text row align-items-center justify-content-center"><%# if @personal.pinterest %><%= @personal.pinterest %></p>
<p class="card-text row align-items-center justify-content-center"><%# if @personal.whatsapp %><%= @personal.whatsapp %></p>
<p class="card-text row align-items-center justify-content-center"><%# if @personal.skype %><%= @personal.skype %></p>
<p class="card-text row align-items-center justify-content-center"><%# if @personal.line %><%= @personal.line %></p>
<p class="card-text row align-items-center justify-content-center"><%# if @personal.youtube %><%= @personal.youtube %></p>
<p class="card-text row align-items-center justify-content-center"><%# if @personal.tumblr %><%= @personal.tumblr %></p>
<p class="card-text row align-items-center justify-content-center"><%# if @personal.soundcloud %><%= @personal.soundcloud %></p>
<p class="card-text row align-items-center justify-content-center"><%# if @personal.vk %><%= @personal.vk %></p>
<p class="card-text row align-items-center justify-content-center"><%# if @personal.wechat %><%= @personal.wechat %></p>
<p class="card-text row align-items-center justify-content-center"><%# if @personal.github %><%= @personal.github %></p>
<p class="card-text row align-items-center justify-content-center"><%# if @personal.tiktok %><%= @personal.tiktok %></p>
<p class="card-text row align-items-center justify-content-center"><%# if @personal.vine %><%= @personal.vine %></p>

