<div class="row align-items-center justify-content-center">
<div class="row">
<h3 class=" py-2">Your dashboard </h3>
</div>
</div>

<div class="row align-items-center justify-content-center py-2">
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Personal Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Business Profile</a>
  </li>
<li class="nav-item">
    <a class="nav-link" id="wallet-tab" data-toggle="tab" href="#wallet" role="tab" aria-controls="wallet" aria-selected="false">Your Wallet</a>
  </li>
</ul>
</div>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <div class=" row align-items-center justify-content-center">
        <div class="col-sm-6">


<% if !@user.personal %>
<div class="row align-items-center justify-content-center">
<div class="row">
<p><strong>Create your personal profile as well!</strong></p>
</div>
</div>
<div class="row align-items-center justify-content-center">
<div class="row">
<p>New personal profile <%= link_to 'New Personal', new_personal_path, class: 'btn btn-danger'%> </p>
</div>
</div>
<% end %>

<% if @user.personal %>
<div class="row align-items-center justify-content-center">
<div class="row">
<p>Edit your personal profile <%= link_to 'Edit Personal', edit_personal_path(current_user.personal), class: 'btn btn-danger' %> </p>
</div>
</div>

<div class="row align-items-center justify-content-center">
<div class="row">
<p>See your personal profile <%= link_to 'See Personal', personal_path(current_user.personal), class: 'btn btn-danger' %> </p>
</div>
</div>

<div class="row align-items-center justify-content-center">
<div class="row">
<p>Share your personal profile <%= link_to 'Share Personal', personalqr_path(current_user.personal), class: 'btn btn-danger' %> </p>
</div>
</div>

<% end %>

        </div>
      </div>
  </div>

  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <div class="row align-items-center justify-content-center">
        <div class="col-sm-6">


<% if !@user.business %>
<div class="row align-items-center justify-content-center">
<div class="row">
<p><strong>Create your business profile as well!</strong></p>
</div>
</div>
<div class="row align-items-center justify-content-center">
<div class="row">
<p>New business profile <%= link_to 'New Business', new_business_path, class: 'btn btn-danger' %> </p>
</div>
</div>
</div>
</div>
<% end %>

<% if @user.business %>
<div class="row align-items-center justify-content-center">
<div class="row">
<p>Edit your business profile <%= link_to 'Edit Business', edit_business_path(current_user.business), class: 'btn btn-danger' %> </p>
</div>
</div>

<div class="row align-items-center justify-content-center">
<div class="row">
<p>See your business profile <%= link_to 'See Business', business_path(current_user.business), class: 'btn btn-danger' %> </p>
</div>
</div>


<div class="row align-items-center justify-content-center">
<div class="row">
<p>Share your business profile <%= link_to 'Share Business', businessqr_path(current_user.business), class: 'btn btn-danger' %> </p>
</div>
</div>
<% end %>

<div class="row align-items-center justify-content-center">
<div class="row">
<p>See your wallet of contacts <%= link_to 'Wallet', wallet_path(current_user.id), class: 'btn btn-danger' %> </p>
</div>
</div>


<div class="row align-items-center justify-content-center">
<div class="row">
<p>Delete your account <%= link_to 'Delete account', user_registration_path, method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger' %>
</div>
</div>



        </div>
      </div>
  </div>
</div>
