
<%# if !@user.personal %>
<p>New personal profile <%= link_to 'New Personal', new_personal_path, class: 'btn btn-danger'%> </p>
<%# else %>
<p>Edit personal profile <%= link_to 'Edit Personal', edit_personal_path(current_user.personal), class: 'btn btn-danger' %> </p>

<p>See your personal profile <%= link_to 'Show Personal', personal_path(current_user.personal), class: 'btn btn-danger' %> </p>
<%# end %>
<%# if !@user.business %>
<p>New business profile <%= link_to 'New Business', new_business_path, class: 'btn btn-danger' %> </p>
<%# else %>
<p>Edit business profile <%= link_to 'Edit Business', edit_business_path(current_user.business), class: 'btn btn-danger' %> </p>

<p>See your personal profile <%= link_to 'Show Business', business_path(current_user.business), class: 'btn btn-danger' %> </p>

<p>See your wallet of contacts <%= link_to 'Wallet', wallet_path(current_user.id), class: 'btn btn-danger' %> </p>
<%# end %>
